body {

    display: block;
    width: 960px;
    font-family: sans-serif;
}

#phocontainer {
    width: 960px;
    display: block;
    text-align: center;
    margin: 1rem auto;
}

.container {
    text-align: center;
    width: 28%;
    display: inline-block;
    padding: 0px;
}

h1 {
    width: 700px:
    font-size: 4em;
    color:white;
    text-align: center;
    background-color: pink;
    padding: 1rem 0;
}

H2 {
    color: pink;
    font-size: 2em;
    text-align: center;
}